.App {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: block;
  padding-bottom: 20px;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

#bar {
  width: 100vw;
  min-width: 350px;
}

#tabs,
#description {
  width: 80vw;
  min-width: 350px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(64, 128, 224);
}

a:hover {
  text-decoration: underline;
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 3px;
  width: 100%;
  background-color: whitesmoke;
  color: rgb(90, 90, 90);
}
